body{

}

.class1{
font-style: Verdana; 
}

footer {
  color: grey;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

#heading {
  background-color: #393d40;
  text-align: center;
}


p {
  font-weight: 200;

}
